%div{:id => "coding"}
  %p{:class => "github"}
    %a{:class => "github-button", :href => "https://github.com/zimlit"}
      github
  %div{:class => "sect"}
    %h1{:class => "label"}
      projects
    %ul
      - @projects.each do |project|
        %li
          %a{:href => project.url}
            = project.title
          %br
          by:
          = User.find_by(id: project.author_id).username 
          - if current_user&.id == project.author_id
            = form_with :url => '/projects/destroy' do |f|
              = f.hidden_field "id", value: project.id
              = f.hidden_field "author_id", value: project.author_id
              = f.submit 'delete'
      
    %a{:href => "/projects/new", :class => "new"}
      new project
